nav {
    padding: 0 15px 0 15px;
    margin-bottom: 40px;
}

.black-bg {
    background-color: #000000;
}

.dark-bg {
    background-color: #141414;
}

.text-white {
    text-decoration: none;
}

.home-image-container {
    height: 400px;
    color: #fff;

    background: url('https://images.pexels.com/photos/5711877/pexels-photo-5711877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat bottom right fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.btn {
    background: rgba(72, 71, 75, 0.541);
}